<h1>Create a New Pirates!</h1>

<div class="row">
  <form action="/pirates" method="POST" class="col-md-6 col-md-offset-3">
    <div class="form-group">
      <label for="description">name:</label>
      <input type="text" name="name" class="form-control">
    </div>
    <div class="form-group">
      <label for="birthplace">birthplace:</label>
      <input type="text" name="birthplace" class="form-control">
    </div>
    <div class="form-group">
      <label for="death_year">death_year_:</label>
      <input type="text" name="death_year" class="form-control">
    </div>
    <div class="form-group">
      <label for="base">base:</label>
      <input type="text" name="base" class="form-control">
    </div>
    <div class="form-group">
      <label for="nickname">nickname:</label>
      <input type="text" name="nickname" class="form-control">
    </div>
    <div class="form-group">
    <label class="radio-inline">
      </label>
    <label class="radio-inline">
      </label>
    </div>
    <div>
      <input type="submit" value="Add Pirates" class="btn btn-default">
    </div>
  </form>
</div>

<br />
<br />
<br />

<a class="btn btn-default" href="\pirates">Home</a>
