<main>
	<h2>Handmade, Fresh, Daily!</h2>

		<<<< START THE LOOP TO DISPLAY EACH DONUT >>>>
		{{# each newProducts}}
			

			<div class="donut-container">

				<<<< DONUT IMAGE HERE >>>>
				<div>IMG: {{this.img}}</div>

				<h3>   <<<< LINK TO DONUT'S SHOW PAGE, DONUT NAME AS LINK NAME >>>>   </h3>
				<h3><div><a href="/users/{{_id}}">View Users</div></h3>

				<p>$ <<<< DONUT PRICE HERE >>>> each </p>

			</div>

		<<<< END THE LOOP >>>>
		{{/ each}}

</main>
</body>
</html>
